/* app css stylesheet */

/** Begin change dropdown so it is not too bright */
.dropdown-menu.notif li > a:hover,
.dropdown-menu.notif .active > a,
.dropdown-menu.notif .active > a:hover {
  color: #000000;
  text-decoration: none;
  background-color: #CAE1FF;
}
/** End change dropdown */

/** Begin notifications */
/** Idea from: https://github.com/Nijikokun/bootstrap-notify/blob/master/css/bootstrap-notify.css */
.notifications {
	position: fixed;
}

.notifications.bottom-right {
	right: 10px;
	bottom: 35px;
}

.notifications>div {
	position: relative;
	z-index: 9999;
	margin: 5px 0px;
}
/** End notifications */


/** Begin footer example */html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -45px;
}

#push, #footer {
	height: 45px;
}

#footer {
	background-color: #F5F5F5;
}

/* Responsive CSS fixes as necessary */
@media ( max-width : 767px) {
#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
/** End footer example */
